.jumbotron{
    background-color:rgb(183, 224, 183);
    font-size: 160%
}

.display-5{
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton {
    border-radius: 100%;
    background-color: grey;

}
.footer{
   
    margin-top: 10px;
    
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;

    
}
.linea{
    background-color: black;
}
.footer-icons{
    padding-right: 10px;
}
 .card-hotel{
     flex: 1 150 px;
     padding: 2px 5px 2px 5px;
     margin-top: 10px;
 }